{% extends "base.html" %}

{% block title %}
    Đăng nhập tài khoản MapViet
{% endblock title %}

{% block content %}
       <div class="column is-4 is-offset-4">
        <form action="{% url 'login' %}" method="POST">


          {% csrf_token %}
      {% load widget_tweaks %}

      <div class="field">
      <p class="control has-icons-left has-icons-right">
        
          {{form.username|add_class:'input is-primary'|attr:'placeholder:username'}}

        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
        {% if form.username.errors %}
            
           <span class="icon is-small is-right">
          <i class="fa fa-warning"></i>
        </span>
        {% endif %}

        
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
         {{form.password|attr:'class:input'|attr:'placeholder:******'}}
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
        {% if form.password.errors %}
            
           <span class="icon is-small is-right">
          <i class="fa fa-warning"></i>
        </span>
        {% endif %}
      </p>

    </div>
    {% if form.password.errors %}
                  <p class="help is-danger">Mật khẩu hoặc tên người dùng không đúng</p>
                  {% endif %}

    <div class="field">
      <p class="control">
        <button class="button is-success">
          Đăng nhập
        </button>
      </p>
    </div>


      </div>  
       </form>       
{% endblock content %}