{% extends "base.html" %}
{% block title %}
    Chào mừng bạn tới MapViet
{% endblock title %}


{% block content %}
    <section class="section"> 
		<h1>LỖI</h1>
		<p>Quay trở về <a href="{% url "home" %}">trang chủ</a></p>

    </section>
{% endblock content %}