<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>{% block title %} {% endblock %}</title>

  <!--  Favicon -->
  <link rel="shortcut icon" href="{% static 'images/xx.png' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/xx.png">
  <!-- File CSS -->
     	 <!-- Font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		 <!-- Bulma Version 0.7.1-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  		<!-- Map CSS -->
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
 		 <!-- Leaflet CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />
	
		<!-- Google Form -->
  	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  
  <!-- JS Style -->
  		<!-- JQuery -->

  
      <!-- Tìm vị trí hiện tại -->
  <!-- <link rel="stylesheet" href="{% static 'css/L.Control.Locate.mapbox.min.css' %}"> -->
  <!-- <script type="text/javascript" src="{% static 'js/L.Control.Locate.js' %}"></script> -->
  <!-- <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' /> -->


</head>
<body>
    {% block modal %}
      
  {% endblock modal %}
   
      <nav class="navbar is-white topNav">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static 'images/poster1.png' %}" width="112" height="28">
          </a>
          <div class="navbar-burger burger" data-target="topNav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="topNav" class="navbar-menu">
          <div class="navbar-end">
            {% if request.user.is_authenticated %}
            <!-- <a class="navbar-item" href="{% url 'home' %}"><span class="icon"><i class="fa fa-home"></i></span>&nbsp; Trang chủ</a>
             -->
            <a {% if section == "search" %} class="navbar-item is-active" {% else %} class="navbar-item"       
            {% endif %} href="{% url 'tim_nha' %}"><i class="fa fa-search"></i>&nbsp; Tìm nhà</a>
            <a {% if section == "create" %} class="navbar-item is-active" {% else %} class="navbar-item"       
            {% endif %} href="{% url 'dangnha' %}"><i class="fa fa-handshake-o"></i>&nbsp; Đăng thuê nhà</a>
            <a {% if section == "list" %} class="navbar-item is-active" {% else %} class="navbar-item"       
            {% endif %} href="{% url 'nha_list' %}"><i class="fa fa-list-alt"></i>&nbsp; Danh sách cho thuê</a>
             <a {% if section == "xe" %} class="navbar-item is-active" {% else %} class="navbar-item" {% endif %}      
            href="{% url 'xe_register' %}"><i class="fa fa-car"></i>&nbsp; Chủ xe đăng ký</a> 
            <a class="navbar-item"     
            href="{% url 'nha_list' %}"><i class="fa fa-medkit"></i>&nbsp; Dịch vụ chuyển đồ</a> 

            
            {% endif %}
            <!-- <a class="navbar-item" href="kanban[search].html"><i class="fa fa-pencil"></i>&nbsp; Đề xuất</a> -->
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              {% if not request.user.is_authenticated %}
              <div class="field is-grouped">

                <p class="control">
                  <a class="button is-small" href="{% url "signup" %}">
                    <span class="icon">
                      <i class="fa fa-user-plus"></i>
                    </span>
                    <span>
                      Đăng ký
                    </span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-small is-info is-outlined" href="{% url "login" %}">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Đăng nhập</span>
                  </a>
                </p>


              </div>

              {% else %}
              <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                               Tài khoản
                            </a>
                        <div class="navbar-dropdown">
                            <!-- <a class="navbar-item">
                                    Trang cá nhân
                                </a> -->
                            <a class="navbar-item" href="{% url "logout" %}">
                                    Đăng xuất
                                </a>
                         
                            
                        </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div></div>

      </nav>



    <section class="container">
      <div class="columns">
        {% block content %}
        
        {% endblock content %}
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="field is-grouped is-grouped-multiline">
              <div class="control">
                <div class="tags has-addons">
                  <a class="tag is-link" target="_blank" href="https://github.com/batTrung?tab=repositories">My Github</a>
                  <span class="tag is-light">Trung Bát</span>
                </div>
              </div>
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-link">Xem các dự án của tôi</span>
                  <span class="tag is-light"> &nbsp;<i class="fa fa-github"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
 
 <!-- JS Style -->
 		<!-- JS MAP -->
  		<!-- JS MAIN -->
  <script async type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      
      <!-- LeaFlet  -->
 
  <script src="{% static 'leaflet/leaflet.js' %}"></script>

      <!-- Leaflet Icon -->
  <script src="{% static 'js/leafletmaki.js' %}"></script>

      <!-- Esri Leaflet From  -->
  <script src="{% static 'js/esri-leaflet.js' %}"></script>

      <!-- ESRI tìm kiếm bằng Leaflet Geocoder -->
  <link rel="stylesheet" href="{% static 'css/esri-leaflet-geocoder.css' %}" />
  <script src="{% static 'js/esri-leaflet-geocoder.js' %}"></script>
  <!-- <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script> -->
  {% block script %}
      
  {% endblock script %}
</body>
  </html>
