{% extends 'base.html' %}
{% load static %}


{% block title %}Tìm nhà trọ{% endblock %}


{% block content %}


<div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="{% static 'images/home.jpg' %}" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                             Đăng ký ngay 
                        </h1>
                        <h2 class="subtitle is-4">
                            Từ nay việc tìm trọ đã trở nên dễ dàng hơn nhiều
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a href="{% url 'signup' %}" class="button is-medium is-info is-outlined">
                              Đăng ký
                            </a>
                            <a href="{% url 'login' %}" class="button is-medium is-primary is-outlined">
                              Đăng nhập
                            </a>
                           
                        </p>



                    </div>
                </div>
            </div>
        </div>

  <ul>

{% endblock %}