  {% load to_time %}
 <form data-url="{% url 'create_comment' id_nha %}">
      {% csrf_token %}
    <div class="field">
      <article class="media">
    
      <!-- <textarea class="textarea" placeholder="Bình luận"></textarea> -->
        {{form}}

    </article>
    </div>
    <div class="field">
      <div class="control">
        <button id="commentSubmit" type="submit" class="button is-link">Bình luận</button>
      </div>

    </div>
  </form>
  <br>  

      {% for comment in comments %}
      <div class="field">
        <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{user}} </strong><small>{{comment.created|timesince|to_time}} trước</small>
            <br>
            {{comment.body}}
          </p>
        </div>
      </div>
    </article>
      </div>

      {% endfor %}

