{% extends "base.html" %}

{% load static %}

{% block title %}
    Đăng ký cho thuê nhà
{% endblock title %}

{% block content %}

<div class="column is-4">

<!-- <aside class="menu"> -->
   <!--  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div> -->
  <label class="label is-large">Đăng ký cho thuê</label>
    
  
  {% if form.lat.errors  %}
    <p class="is-danger" style="color:red"> Bạn cần chọn tọa độ</p>
  {% endif %}

  <ul class="menu-list box">


<form method="post" action="." enctype="multipart/form-data">

  {% csrf_token %}

  {% load widget_tweaks %}

  <div class="field">
  	<label class="label">Mô tả</label>
    <div class="control">
        	{{ form.description }}   		
                    
    </div>

         
  </div>
  
{{formset}}

<br><br>
 <div class="field is-grouped">
    
      <!-- <label class="label">Loại phòng</label> -->
      <div class="control">
  
        <div class="select is-primary">
          {{ form.category }}

        </div>
           
      </div>
      <!-- <label class="label">Loại phòng</label> -->
        <div class="control">
  
          <div class="select is-primary">
            {{ form.typeroom }}

        </div>
           
      </div>
   

  </div>
  
  <div class="field">


    
      <div class="slidecontainer">

        <label class='label'>Giá phòng</label>
        <input type="range" min="1" step="0.1" max="10" value="2" class="slider" id="myRange">
        <br>
        <br>
        <div class="field has-addons">
          <!-- <p class="control">
            <a class="button is-small">
             <
           </a>
          </p> -->

        <p class="control">
        {{form.price}}
        </p>
         <p class="control">
          <button class="button is-primary">
              triệu/tháng
           </button>
         </p>
       </div>
      </div>

  </div>



  <div class="field">
    <label class="label">Số điện thoại</label>
      <div class="control is-primary has-icons-left has-icons-right">
          {{ form.phone_number }}
          <span class="icon  is-small is-left">
               <i class="fa fa-mobile"></i>
          </span>
                    
      </div>
         
  </div>
 
  <div class="field">
    <label class="label">Địa chỉ</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.address }}
          <span class="icon is-small is-left">
               <i class="fa fa-map-marker"></i>
          </span>
                    
      </div>
         
  </div>



    {{ form.lat }}
    {{ form.lng }}


  <div class="buttons">
    <a class="button is-danger is-outlined" onclick="javascript:getLocationLeaflet();">
    <span class="icon">
      <i class="fa fa-map-marker"></i>
    </span>
    <span>Đặt trí hiện tại</span>
  </a>
  </div>



  <div class="field is-grouped">
  	<div class="control">
       <button class="button is-primary">Đăng ký</button>
    </div>
    <!-- <div class="button is-white">&rang;</div>
    <p class="control">
      <a class="button is-primary is-outlined" href="{% url 'login' %}">Đăng nhập</a>
    </p> -->
 </div>


</form>
</ul>
<!-- </aside> -->
</div>
<div class="column is-8">
  <div class="control">
      <span class="button is-primary is-small">Di chuyển hoặc gõ tìm kiếm để chọn vị trí</span>
  </div>

	<div class="box">
    <div id="map" class="box">
      
    </div>
  </div>

  <div class="tags has-addons ">
    <a class="tag is-danger is-active" id="duong">Biểu đồ đường</a>
    <a class="tag is-dark is-active" id="vetinh">Biểu đồ vệ tinh</a>
                
  </div>

<input type="hidden" id="url_icon" name="variable" value="{% static 'images/marker.svg' %}">
</div>

{% endblock %}

{% block script %}
     <script src="{% static 'js/load_image.js' %}"></script>
     <script src= "{% static 'js/register.js' %}"></script>
     <script>
       

L.MakiMarkers.accessToken = "pk.eyJ1IjoidHJ1bmdiYXQiLCJhIjoiY2ptdWllZTY4MDlhNjNwcGtqY2FjaGtkeCJ9.F51_3qvVuNyo_C17deJb5A"

var map = L.map('map').setView([20.9894757,105.8523328], 8);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);


var url_icon = document.getElementById('url_icon').value 
var myIcon = L.icon({

    iconUrl: url_icon,
    iconSize: [50, 50],
    shadowSize: [20, 40],
    iconAnchor: [25, 45],
    shadowAnchor: [20, 40],
    popupAnchor: [0, -53]

});
var homeIcon = L.MakiMarkers.icon({icon: "town-hall", color: "#0EEFCD", size: "3"});


var searchControl = L.esri.Geocoding.geosearch().addTo(map);



var results = L.layerGroup().addTo(map);

searchControl.on('results', function(data){
  
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {

       var m1 = L.marker(data.results[i].latlng, {icon:homeIcon, draggable:true})
       results.addLayer(m1);

        m1.on('drag', function(e){
          document.getElementById('lat').value = e.latlng['lat'];
          document.getElementById('lng').value = e.latlng['lng']
        })
    }

  });


var toa_do = {{toa_do|safe}}

map.setView(toa_do,14)
L.marker(toa_do, {icon:homeIcon}).addTo(map)
L.circle(toa_do, 100, {color: "red", weight:
3,fillColor:"blue"}).addTo(map)


// dat vi tri hien tai

// var markers = L.layerGroup().addTo(map);
function onLocationFound(e) {

         var radius = e.accuracy / 2;
         var location = e.latlng
         var mk = L.marker(location, {icon:homeIcon, draggable:true}).addTo(map)
         document.getElementById('lat').value = e.latlng['lat'];
         document.getElementById('lng').value = e.latlng['lng']

         mk.on('drag', function(e){
          document.getElementById('lat').value = e.latlng['lat'];
          document.getElementById('lng').value = e.latlng['lng']
        })
      }

function onLocationError(e) {
         alert('Bạn phải kích hoạt vị trí cho ứng dụng');
      }


function getLocationLeaflet() {
         map.on('locationfound', onLocationFound);
         map.on('locationerror', onLocationError);

         map.locate({setView: true, maxZoom: 16});
      }


     </script>
{% endblock script %}