{% extends "base.html" %}

{% load to_time %}

{% load static %}

{% block title %}
    Danh sách các nhà cho thuê
{% endblock title %}

{% block modal %}

    <div class="xmodal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image is-3by2">
          <img class='img-modal' id="img-modal" src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    
{% endblock modal %}

{% block content %}

<div class="column is-4">

  

<!-- <aside class="menu"> -->
   <!--  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div> -->
  <label class="label is-large">Có <span style="color:#00d1b2">{{nhas.count}}</span> nhà cho thuê</label>
  
  <div class="card events-card">
  <div class="card-table">
    <div class="content">
        <table class="table is-fullwidth is-striped">
            <tbody>
                {% for nha in nhas %}
                
				        <tr id="home_search">
                  
                    <td width="5%">{{forloop.counter}}</td>
                   <td>
                    	<a class="title is-6" id="{{forloop.counter0}}" onclick = onMarkerClick({{forloop.counter0}})>{{nha.description|truncatewords:5}}</a>
                    	<br>
                    	{{nha.created|timesince|to_time}} trước
                      <br>
                      <br>
                    {% for p in nha.images.all %}

                               <img class ='img-modal' id = 'image-list' src="{{p.image.url|default_if_none:'' }}" alt=''/>
                    {% endfor %}

                    </td>

                    
                  
                    <td>
                   <div class="buttons has-addons is-right">
                    
                    <a href = '{% url 'sua' nha.pk %}' class="button is-small is-link"><i class="fa fa-pencil"></i>&nbsp; Sửa</a>
                    <a href = '{% url 'delete_nha' nha.pk %}' class="button is-small is-danger"><i class="fa fa-trash-o"></i>&nbsp; Xóa</a>
                	</div>
                    </td>
               
                </tr>
           
				{% empty %}
				<tr>
					<td>Chưa có nhà nào 	</td>
				</tr>

                {% endfor %}
             </tbody>
          </table>
      </div>
   </div>
   <footer class="card-footer">
       <a id="loadmore" class="card-footer-item">Xem thêm</a>
       <a href= '{% url 'dangnha' %}' class="card-footer-item">Đăng ký thêm</a>
   </footer>
   </div>
   



</div>
<div class="column is-8">

	<div class="box">
    <div id="map">
      
    </div>
  </div>

  <div class="tags has-addons ">
    <a class="tag is-danger is-active" id="duong">Biểu đồ đường</a>
    <a class="tag is-dark is-active" id="vetinh">Biểu đồ vệ tinh</a>
                
  </div>


</div>

{% endblock %}

{% block script %}
     <script src="{% static 'js/tim_nha.js' %}"></script>
     <script type="text/javascript">
       L.MakiMarkers.accessToken = "pk.eyJ1IjoidHJ1bmdiYXQiLCJhIjoiY2ptdWllZTY4MDlhNjNwcGtqY2FjaGtkeCJ9.F51_3qvVuNyo_C17deJb5A"


var map = L.map('map').setView([21.0055596,105.8412741],8);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; HomeViet'
  }).addTo(map);

var searchControl = L.esri.Geocoding.geosearch().addTo(map);

var results = L.layerGroup().addTo(map);


searchControl.on('results', function(data){
  
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {

       var m1 = L.marker(data.results[i].latlng, {draggable:true})
         results.addLayer(m1);

        
    }


  });

  var icon = L.MakiMarkers.icon({icon: "town-hall", color: "#ff0537", size: "3"});
  var homeIcon = L.MakiMarkers.icon({icon: "town-hall", color: "#0EEFCD", size: "3"});



// m1ID.addEventListener('click', function(e){

//   map.setView([20.9894757,105.8523328],15);
//   L.marker([20.9894757,105.8523328], {icon:icon}).bindPopup('thông tin về phòng trọ').openPopup().addTo(map)

  
// })
var popup = L.popup();
var nha_data = {{ nha_data|safe }};



// function onMarkerClick(){
//   alert(nha_data.length);
// }
// var mkID = document.getElementById('1');
// mkID.addEventListener('click', onMarkerClick);
// var mkID = []

for(var e= 0; e< nha_data.length; e++){

    map.setView([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],12);
    L.marker([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],{icon:homeIcon}).addTo(map).bindPopup('<b>Miêu tả: </b>'+ nha_data[e].fields.description +'<br><b>Giá phòng: </b>' +  nha_data[e].fields.price + '<br><b>Loại phòng: </b>' +  nha_data[e].fields.category + '<br><b>Địa chỉ: </b>'+  nha_data[e].fields.address + '<br><b>Liên hệ: </b>' +  nha_data[e].fields.phone_number + '<br><b>Ảnh: </b>')
}



function onMarkerClick(x) {
    var e = parseInt(x)
    map.setView([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],15);
    L.marker([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],{icon:homeIcon}).addTo(map).bindPopup('<b>Miêu tả: </b>'+ nha_data[e].fields.description +'<br><b>Giá phòng: </b>' +  nha_data[e].fields.price + '<br><b>Loại phòng: </b>' +  nha_data[e].fields.category + '<br><b>Địa chỉ: </b>'+  nha_data[e].fields.address + '<br><b>Liên hệ: </b>' +  nha_data[e].fields.phone_number + '<br><b>Ảnh: </b>').openPopup();
 
}
// var mk1  = L.marker([21.0055596,105.8412741], {icon:icon}).bindPopup('xin chao')





     </script>
{% endblock script %}


