{% extends "base.html" %}

{% load static %}

{% block title %}
    Đăng ký cho thuê nhà
{% endblock title %}

{% block content %}

<div class="column is-4">

  

<!-- <aside class="menu"> -->
   <!--  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div> -->
  <label class="label is-large">Sửa thông tin cho thuê</label>
    
  
  {% if form.lat.errors  %}
    <p> Bạn cần chọn tọa độ</p>
  {% endif %}
  {% if form.lat.errors  %}
    <p> Bạn cần chọn tọa độ</p>
  {% endif %}
      

  <ul class="menu-list box">


<form method="post" action=".">

  {% csrf_token %}

  {% load widget_tweaks %}

  <div class="field">
  	<label class="label">Mô tả</label>
    <div class="control">
        	{{ form.description }}   		
                    
    </div>

         
  </div>
  


<div class="field">
  <div class="file is-small has-name is-centered is-danger">
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
          Chọn ảnh…
        </span>
      </span>
      <span class="file-name">
      
        Screen Shot 2017-07-29 at 15.54.25.png
    
      </span>
    </label>
  </div>
</div>




   <div class="field is-grouped">
    
      <!-- <label class="label">Loại phòng</label> -->
      <div class="control">
  
        <div class="select is-danger">
          {{ form.category }}

        </div>
           
      </div>
      <!-- <label class="label">Loại phòng</label> -->
        <div class="control">
  
          <div class="select is-danger">
            {{ form.typeroom }}

        </div>
           
      </div>
  </div>
  
  <div class="field">


    
      <div class="slidecontainer">

        <label class='label'>Giá phòng</label>
        <input type="range" min="1" step="0.1" max="10" value = {{form.price.value}} class="slider" id="myRange">
        <br>
        <br>
        <div class="field has-addons">
          <!-- <p class="control">
            <a class="button is-small">
             <
           </a>
          </p> -->

        <p class="control">
        {{form.price}}
        </p>
         <p class="control">
          <button class="button is-danger">
              triệu/tháng
           </button>
         </p>
       </div>
      </div>

  </div>



  <div class="field">
    <label class="label">Số điện thoại</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.phone_number }}
          <span class="icon is-small is-left">
               <i class="fa fa-mobile"></i>
          </span>
                    
      </div>
         
  </div>
 
  <div class="field">
    <label class="label">Địa chỉ</label>
      <div class="control has-icons-left has-icons-right">
          {{ form.address }}
          <span class="icon is-small is-left">
               <i class="fa fa-map-marker"></i>
          </span>
                    
      </div>
         
  </div>



    {{ form.lat }}
    {{ form.lng }}


  
  <div class="field is-grouped">
  	<div class="control">
       <button class="button is-danger">Đăng ký</button>
    </div>
    <!-- <div class="button is-white">&rang;</div>
    <p class="control">
      <a class="button is-primary is-outlined" href="{% url 'login' %}">Đăng nhập</a>
    </p> -->
 </div>


</form>
</ul>
<!-- </aside> -->
</div>
<div class="column is-8">
  <div class="control">
      <span class="button is-danger is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div>

	<div class="box">
    <div id="map" class="box">
      
    </div>
  </div>

  <div class="tags has-addons ">
    <a class="tag is-danger is-active" id="duong">Biểu đồ đường</a>
    <a class="tag is-dark is-active" id="vetinh">Biểu đồ vệ tinh</a>
                
  </div>


</div>

{% endblock %}

{% block script %}
     <script src= "{% static 'js/register.js' %}"></script>
     <script>
       



L.MakiMarkers.accessToken = "pk.eyJ1IjoidHJ1bmdiYXQiLCJhIjoiY2ptdWllZTY4MDlhNjNwcGtqY2FjaGtkeCJ9.F51_3qvVuNyo_C17deJb5A"

var map = L.map('map').setView([20.9894757,105.8523328], 8);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

var searchControl = L.esri.Geocoding.geosearch().addTo(map);


var results = L.layerGroup().addTo(map);

searchControl.on('results', function(data){
  
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {

       var m1 = L.marker(data.results[i].latlng, {draggable:true})
       results.addLayer(m1);

        m1.on('drag', function(e){
          document.getElementById('lat').value = e.latlng['lat'];
          document.getElementById('lng').value = e.latlng['lng']
        })

//        m1.on('drag',function(e){
//        var latlng = e.getLatLng();
//        document.getElementById('lat').innerHTML = latlng.lat;
//        document.getElementById('lng').innerHTML = latlng.lng;

// });
    }


  });

// var icon = L.MakiMarkers.icon({icon: "rocket", color: "#ff0537", size: "3"});

// var toa_do = {{toa_do|safe}}
// L.marker(toa_do, {icon:icon}).addTo(map)

// var marker4 = L.marker([20.9894757,105.8523328],
// {title:"marrker4",alt:"The Big I", opacity: 8, icon: icon}).addTo(map);















       
     </script>

{% endblock script %}