{% extends "base.html" %}

{% load to_time %}

{% load static %}

{% block title %}
    Đăng ký cho thuê nhà
{% endblock title %}


{% block modal %}

    <div class="xmodal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <p class="image is-3by2">
          <img class="img-modal" id="img-modal"  src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    
{% endblock modal %}



{% block content %}

<div class="column is-4">

  

<!-- <aside class="menu"> -->
   <!--  <div class="control">
      <span class="button is-primary is-small">Chọn vị trí nhà cho thuê trên bản đồ</span>
  </div> -->


  <label class="label is-large">
  
   {% if toa_do_list %}
       Tìm thấy <span style="color:#00d1b2">{{dem}}</span> nhà gần đó
   {% elif toa_do_list is None %}
       Tìm nhà
    {% else %}
    Không tìm thấy nhà nào 
   {% endif %}
 <i class="fa fa-search"></i>

 </label>
 <div id="loi">
    <!-- loi -->
   </div>
    
  
  {% if form.lat.errors  %}
    <p class="error"> Bạn cần chọn tọa độ cần thuê</p>
  {% endif %}

      

  <ul class="menu-list box">


<form method="post" action=".">

  {% csrf_token %}

  {% load widget_tweaks %} 

  <div class="field is-grouped">
    
      <!-- <label class="label">Loại phòng</label> -->
  		<div class="control">
  
     		<div class="select is-primary">
          {{ form.category }}

        </div>
           
  		</div>
      <!-- <label class="label">Loại phòng</label> -->
        <div class="control">
  
          <div class="select is-primary">
            {{ form.typeroom }}

        </div>
           
      </div>
   

  </div>

  
  <div class="field">


    
      <div class="slidecontainer">

        <label class='label'>Giá phòng</label>
        <input type="range" min="1" step="0.1" max="12" value="3" class="slider" id="myRange">
        <br>
        <br>
        <div class="field has-addons">
          <!-- <p class="control">
            <a class="button is-small">
             <
           </a>
          </p> -->

        <p class="control">
        {{form.price}}
        </p>
         <p class="control">
          <span class="button is-primary">
              triệu/tháng
           </span>
         </p>
       </div>
      </div>

  </div>

  <label style="display: none" id="checkbox" class="checkbox" for="xe">
    <input type="checkbox" name="xe">
    Xe chở đồ
  </label>
<br><br>
    
    {{ form.lat }}
    {{ form.lng }}

  
  <div class="buttons">
    <a class="button is-danger is-outlined" id="position">
    <span class="icon">
      <i class="fa fa-map-marker"></i>
    </span>
    <span>Đặt tìm quanh vị trí hiện tại</span>
  </a>
  </div>
  
  <div class="field is-grouped">
  	<div class="control">
          
          <button id = 'submit' class="button is-primary">
            <i class='fa fa-search'></i>
            &nbsp; Tìm kiếm
            
         </button>  
    

    </div>
  </div>
    <!-- <div class="button is-white">&rang;</div>
    <p class="control">
      <a class="button is-primary is-outlined" href="{% url 'login' %}">Đăng nhập</a>
    </p>
 </div> -->


</form>
</ul>


<div class="card events-card">
  <div class="card-table">
    <div class="content">
    
        <table class="table is-fullwidth is-striped">
            <tbody>
                {% for nha in nhas %}
                
                <tr id="home_search">
                  
                    <td width="5%" class="title is-6">{{forloop.counter}}</td>
                   <td>
                      <a id="{{forloop.counter0}}" data-url="{% url 'create_comment' nha.id %}" class="{{nha.id}} info title is-6 click_comment">{{nha.description|truncatewords:5}}</a>
                      <br>
                      <p class="subtitle is-6 article-subtitle">{{nha.created|timesince|to_time}} trước</p>
                     {% for p in nha.images.all %}
                      
                        <img id ='image-list' class= 'img-modal' src="{{p.image.url}}" alt=''/>
                      
                      {% endfor %}
  
                  
                          
                      
                    </td>
                    
               
                </tr>
           
        {% empty %}
        <tr>
          <td>Chưa có nhà nào   </td>
        </tr>

         {% endfor %}
             </tbody>
          </table>
      </div>
   </div>
   <footer class="card-footer">
       <a id="loadmore" class="card-footer-item">Xem thêm</a>
   </footer>
   </div>

<!-- </aside> -->
</div>





<div class="column is-8">
  <div class="control">
      <span class="button is-primary is-small">Di chuyển hoặc gõ tìm kiếm để chọn vị trí</span>
  </div>

	<div class="box">
    <div id="map">
      
    </div>
  </div>

  <!-- <div class="tags has-addons ">
    <a class="tag is-primary is-active" id="duong">Biểu đồ đường</a>
    <a class="tag is-dark is-active" id="vetinh">Biểu đồ vệ tinh</a>
                
  </div> -->
  <!-- Thông tin nhà -->
  <div class="box">
     <div class="column is-3">
       <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Đánh giá:</strong>
                      <br>
                      <progress class="progress is-primary" value="90" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>
     </div>

    <div class="card-content">
      <h3 class="title is-4">
        Bình luận
      </h3>
      <!-- Bình luận -->
    <div class="box" id="post_comment">
     
 
    </div>
<!-- end bình luận -->

    </div>
  </div>
  <!-- end thông tin nhà -->



  <!-- value for js -->
  <input type="hidden" id="url_icon" name="variable" value="{% static 'images/marker.svg' %}">
  <input type="hidden" id="xe_icon" name="variable" value="{% static 'images/motorbike.png' %}">

</div>

{% endblock %}

{% block script %}
    
    <script src= "{% static 'js/register.js' %}"></script>
    <script>
      $("#showModal").click(function() {
         $(".modal").addClass("is-active");  
      });

      $(".modal-close").click(function() {
         $(".modal").removeClass("is-active");
      });


    </script>

    <script>
      $(function(){
        L.MakiMarkers.accessToken = "pk.eyJ1IjoidHJ1bmdiYXQiLCJhIjoiY2ptdWllZTY4MDlhNjNwcGtqY2FjaGtkeCJ9.F51_3qvVuNyo_C17deJb5A"

var map = L.map('map').setView([20.9894757,105.8523328], 12);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
// Thanh tìm kiếm


var searchControl = L.esri.Geocoding.geosearch().addTo(map);


var results = L.layerGroup().addTo(map);
var homeIcon = L.MakiMarkers.icon({icon: "town-hall", color: "#0EEFCD", size: "3"});
searchControl.on('results', function(data){
  
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {

       var m1 = L.marker(data.results[i].latlng, {draggable:true, icon:myIcon})
       results.addLayer(m1);

        m1.on('drag', function(e){
          document.getElementById('lat').value = e.latlng['lat'];
          document.getElementById('lng').value = e.latlng['lng']
        })
    }


  });

$('a#position').on('click', function(){

      map.on('locationfound', onLocationFound);
         map.on('locationerror', onLocationError);

         map.locate({setView: true, maxZoom: 16});
});


var myIcon = L.MakiMarkers.icon({icon: "rocket", color: "#318CFC", size: "3"});

var toa_do_list = {{toa_do_list|safe}};
var toa_do = {{toa_do|safe}} ;



var new_locate = L.marker(toa_do, {icon: myIcon, draggable:true}).addTo(map);
new_locate.on('drag', function(e){
          document.getElementById('lat').value = e.latlng['lat'];
          document.getElementById('lng').value = e.latlng['lng']
});


for (var j =0; j < toa_do_list.length ; j++){

  L.marker(toa_do_list[j],{icon:homeIcon}).addTo(map);
};
// var marker4 = L.marker([20.9894757,105.8523328],
// {title:"marrker4",alt:"The Big I", opacity: 8, icon: icon}).addTo(map);

var carIcon = L.MakiMarkers.icon({icon: "car", color: "#ff0537", size: "3"});

var nha_data = {{ nha_data|safe }};
var khoangcach = {{khoangcach|safe}};

for(var e= 0; e< nha_data.length; e++){

    map.setView([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],14);
    L.marker([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],{icon: homeIcon}).addTo(map).bindPopup('<b>Miêu tả: </b>'+ nha_data[e].fields.description +'<br><b>Giá phòng: </b>' +  nha_data[e].fields.price + '<br><b>Loại phòng: </b>' +  nha_data[e].fields.category + '<br><b>Địa chỉ: </b>'+  nha_data[e].fields.address + '<br><b>Liên hệ: </b>' +  nha_data[e].fields.phone_number + '<br><b>Khoảng cách:'+khoangcach[e]+'Km </b>')
};

$('.info').click(function(){

    var e = parseInt($(this).attr('id'));
    map.setView([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],15);
    L.marker([parseFloat(nha_data[e].fields.lat),parseFloat(nha_data[e].fields.lng)],{icon:homeIcon}).addTo(map).bindPopup('<b>Miêu tả: </b>'+ nha_data[e].fields.description +'<br><b>Giá phòng: </b>' +  nha_data[e].fields.price + '<br><b>Loại phòng: </b>' +  nha_data[e].fields.category + '<br><b>Địa chỉ: </b>'+  nha_data[e].fields.address + '<br><b>Liên hệ: </b>' +  nha_data[e].fields.phone_number + '<br><b>Khoảng cách:'+khoangcach[e]+'Km </b>')
    .openPopup();

});

// var markers = L.layerGroup().addTo(map);
function onLocationFound(e) {

         var radius = e.accuracy / 2;
         var location = e.latlng;
         map.setView(location,15);
         var mk = L.marker(location, {icon:myIcon, draggable:true}).addTo(map)
         document.getElementById('lat').value = e.latlng['lat'];
         document.getElementById('lng').value = e.latlng['lng'];

         mk.on('drag', function(e){
          document.getElementById('lat').value = e.latlng['lat'];
          document.getElementById('lng').value = e.latlng['lng']
        })
      };

function onLocationError(e) {
         alert('Bạn phải kích hoạt vị trí cho ứng dụng');
      };

      // tim xe
      $('label#checkbox').show();
    

      $('input[type="checkbox"]').on('change',function(){
        if ($('input:checked').attr('name') === 'xe'){
          var xe_data = {{ xe_data|safe }};
          for (var e = 0; e< xe_data.length; e++){
              // map.setView([parseFloat(xe_data[e].fields.lat),parseFloat(xe_data[e].fields.lng)],14);
              L.marker([parseFloat(xe_data[e].fields.lat),parseFloat(xe_data[e].fields.lng)], {icon:carIcon}).addTo(map).bindPopup('<b>Tên chủ xe: </b>'+ xe_data[e].fields.name +'<br><b>Số điện thoại: </b>' +  nha_data[e].fields.phone_number)
          } 
      } else{
         $('img[src*="car"]').remove();
      }

      });


      })

    var is_error  = {{is_error}};
    if (!is_error){
      $('#loi').html('<p class="error">Bạn phải chọn vị trí trước</p>')
    }

    </script>
    <script src="{% static 'js/tim_nha.js' %}"></script>

{% endblock script %}